{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "Bookvault_Api",
    "description": "The Bookvault Api used to integrate customer systems with the the Bookvault platform",
    "contact": {
      "name": "Customer Support",
      "email": "customers@bookvault.app"
    }
  },
  "host": "api.bookvault.app",
  "basePath": "/v3",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Load An Account",
        "description": "Returns your BooKVAULT Profile",
        "operationId": "Account_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns the requested profile",
            "schema": {
              "$ref": "#/definitions/BookVAULT.FullProfile"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update An Account",
        "description": "Returns your BooKVAULT Profile",
        "operationId": "Account_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Profile",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.FullProfile"
            }
          },
          {
            "name": "ProfileID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested profile",
            "schema": {
              "$ref": "#/definitions/BookVAULT.FullProfile"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/AccountLite": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Load An Account (Lite)",
        "description": "Returns your BooKVAULT Profile (lite version)",
        "operationId": "AccountLite_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Returns account",
            "schema": {
              "$ref": "#/definitions/BookVAULT.LiteProfile"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Addresses": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Load Addresses",
        "description": "Load a list of saved addresses from your BookVAULT account",
        "operationId": "Addresses_get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns Available Addresses",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.CommonAddress"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Update Address",
        "description": "update an address as a commmon address",
        "operationId": "Addresses_put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "addr",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.CommonAddress"
            }
          },
          {
            "name": "CommonAddrID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated address",
            "schema": {
              "$ref": "#/definitions/BookVAULT.CommonAddress"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Save Address",
        "description": "Save an address as a commmon address",
        "operationId": "Addresses_post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "addr",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.CommonAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the saved address with ID",
            "schema": {
              "$ref": "#/definitions/BookVAULT.CommonAddress"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Remove Address",
        "description": "remove an address as a commmon address",
        "operationId": "Addresses_delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "CommonAddrID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of saved addresses",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.CommonAddress"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/AddressList": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Load Address Group",
        "operationId": "AddressList_get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ContactListID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookVAULT.FullContactList"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Update Address",
        "description": "update an address as a commmon address",
        "operationId": "AddressList_put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "list",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.FullContactList"
            }
          },
          {
            "name": "ContactListID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated address",
            "schema": {
              "$ref": "#/definitions/BookVAULT.FullContactList"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Save Address",
        "description": "Save an address as a commmon address",
        "operationId": "AddressList_post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "list",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.FullContactList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the saved address with ID",
            "schema": {
              "$ref": "#/definitions/BookVAULT.FullContactList"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/AddressLists": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Load Address Groups",
        "operationId": "AddressLists_get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.FullContactList"
              }
            }
          }
        }
      }
    },
    "/App": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "App_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.BookvaultApp"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Adds a product to the app",
        "description": "Returns your BooKVAULT Profile",
        "operationId": "App_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "settings",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.BookvaultAppSettings"
            }
          },
          {
            "name": "AppID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the product with URL",
            "schema": {
              "$ref": "#/definitions/BookVAULT.BookvaultApp"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Adds a app to a Bookvault account",
        "description": "Returns your BooKVAULT Profile",
        "operationId": "App_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "store",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.BookvaultApp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the product with URL",
            "schema": {
              "$ref": "#/definitions/BookVAULT.BookvaultApp"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Unlinks/Deletes a store from the Bookvault account",
        "operationId": "App_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "AppID",
            "in": "query",
            "description": "The App ID to unlink",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Store successfully unlinked",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/AppProduct": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "AppProduct_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "AppID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "specifiedIDs",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "SearchString",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookVAULT.BookvaultApp.ProductList"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Apps"
        ],
        "summary": "Updates an exisiting app product",
        "description": "Returns your BooKVAULT Profile",
        "operationId": "AppProduct_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.BookvaultApp.Product"
            }
          },
          {
            "name": "productID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the product with URL",
            "schema": {
              "$ref": "#/definitions/BookVAULT.BookvaultApp.Product"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Adds a product to the app",
        "description": "Returns your BooKVAULT Profile",
        "operationId": "AppProduct_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.BookvaultApp.Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the product with URL",
            "schema": {
              "$ref": "#/definitions/BookVAULT.BookvaultApp.Product"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "tags": [
          "Apps"
        ],
        "summary": "Deletes/unlinks a product from the app",
        "description": "Removes the product from the app integration",
        "operationId": "AppProduct_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "appID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Product successfully unlinked",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/Bindings": {
      "get": {
        "tags": [
          "Titles"
        ],
        "summary": "Load Bindings",
        "description": "Loads all the available bindings on your account with limitations",
        "operationId": "Bindings_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns the available bindings",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.ProductBinding"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/BookPreview": {
      "get": {
        "tags": [
          "BookPreview"
        ],
        "operationId": "BookPreview_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ISBN",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/BulkOrder/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "BulkOrder_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookVAULT.BulkImports.Order"
            }
          }
        }
      }
    },
    "/BulkOrder": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "BulkOrder_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.BulkImports.Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookVAULT.BulkImports.Order"
            }
          }
        }
      }
    },
    "/BulkTitle/{id}": {
      "get": {
        "tags": [
          "Titles"
        ],
        "operationId": "BulkTitle_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookVAULT.BulkImports.Title"
            }
          }
        }
      }
    },
    "/BulkTitle": {
      "post": {
        "tags": [
          "Titles"
        ],
        "operationId": "BulkTitle_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.BulkImports.Title"
            }
          },
          {
            "name": "Currency",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookVAULT.BulkImports.Title"
            }
          }
        }
      }
    },
    "/CalculateTitle": {
      "post": {
        "tags": [
          "Titles"
        ],
        "summary": "Calculate a title",
        "description": "Supply details to calculate a titles specifications, including weight, price and spine width.",
        "operationId": "CalculateTitle_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Library.Product"
            }
          },
          {
            "name": "CalculationType",
            "in": "query",
            "description": "Optinal type of calculation, for a spine calculation less data can be supplied",
            "required": false,
            "type": "string",
            "enum": [
              "Full",
              "Spine"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a caclulated structure",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Library.Product"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Codelist": {
      "get": {
        "tags": [
          "Titles"
        ],
        "summary": "Load Codelist",
        "description": "Loads all the available countries on BookVAULT returning the counties ISO code and the CountryID for BookVAULT",
        "operationId": "Codelist_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "CodelistType",
            "in": "query",
            "description": "The specified codelist you wish to retreive",
            "required": true,
            "type": "string",
            "enum": [
              "Imprints",
              "Subjects",
              "ContributorRoles",
              "ContentType",
              "SubjectType",
              "BISACCodes",
              "BICCodes",
              "AudienceCodes",
              "Lamination",
              "Binding",
              "CoverStocks",
              "TextStocks",
              "FoilStocks",
              "Countries",
              "SpineFoilLocations",
              "FrontFoilLocations",
              "ContactGroups",
              "THEMACodes",
              "PublishingCountries",
              "ProductForms",
              "Publishers",
              "Languages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the calculated title",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookGLOBAL.CodeList"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/CollectionPromo": {
      "post": {
        "tags": [
          "TGBBS"
        ],
        "summary": "Create a collelction promo code",
        "description": "Creates a new Promo Code for The Great British Bookshop, specifying the collections which fall into the promotion",
        "operationId": "CollectionPromo_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "promoRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Feeds.Shopify.Promotions.CollectionPromo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A promotional code",
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Feeds.Shopify.Promotions.PromoCode"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Collections": {
      "get": {
        "tags": [
          "TGBBS"
        ],
        "summary": "Return Collections",
        "description": "Returns a list of available collections",
        "operationId": "Collections_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of collections assigned to your account",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookGLOBAL.Feeds.Shopify.TGBBSCollection"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "post": {
        "tags": [
          "TGBBS"
        ],
        "summary": "Assign a product",
        "description": "Assigns a product to a collection. Linking the supplied ISBN to a collection,",
        "operationId": "Collections_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Feeds.Shopify.LinkedTitle"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of collections assigned to your account",
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Feeds.Shopify.LinkedTitle"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Countries": {
      "get": {
        "tags": [
          "Orders",
          "Dispatch"
        ],
        "summary": "Load Countries",
        "description": "Loads all the available countries on BookVAULT returning the counties ISO code and the CountryID for BookVAULT",
        "operationId": "Countries_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns the requested countries",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PodCore.Entity.Country"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/DesignTemplate": {
      "get": {
        "tags": [
          "Titles"
        ],
        "summary": "Generate Template",
        "description": "Returns a URL for a Bookvault design template",
        "operationId": "DesignTemplate_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "SizeHeight",
            "in": "query",
            "description": "The height of the finished size",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "SizeWidth",
            "in": "query",
            "description": "The width of the finished size",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Bulk",
            "in": "query",
            "description": "The bulk of the book",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "Binding",
            "in": "query",
            "description": "The Binding",
            "required": true,
            "type": "string",
            "enum": [
              "PerfectBound",
              "CasePPC",
              "CaseCloth",
              "WireBound",
              "SaddleStitch",
              "SpiralBound",
              "None",
              "Certificate",
              "CalendarHung",
              "Giftbox",
              "PresentationBox",
              "Sublimation",
              "Poster",
              "Photograph",
              "Gifts",
              "CalendarFlip",
              "Sewn",
              "AudioBook",
              "eBook",
              "Bundle",
              "HardbackWire",
              "BoxSet"
            ]
          },
          {
            "name": "Type",
            "in": "query",
            "description": "The type of template",
            "required": true,
            "type": "string",
            "enum": [
              "None",
              "Cover",
              "Text",
              "Insert",
              "Jacket",
              "FoilBlock",
              "TearCover",
              "Disc",
              "DiscLabel",
              "CoverFoil",
              "JacketFoil",
              "EndPapers",
              "BoxSet",
              "SprayedEdges"
            ]
          },
          {
            "name": "beta",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested template URL",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/Dispatch": {
      "get": {
        "tags": [
          "Dispatch"
        ],
        "summary": "Load Order Services",
        "description": "Load the available services for an order/supplied weight",
        "operationId": "Dispatch_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "CountryID",
            "in": "query",
            "description": "The country id of the delivery address (obtained from the countries endpoint)",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "AreaCode",
            "in": "query",
            "description": "The postcode/areacode of the delivery address",
            "required": true,
            "type": "string"
          },
          {
            "name": "PartnerID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PodRef",
            "in": "query",
            "description": "The PodRef of the order",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Weight",
            "in": "query",
            "description": "The Weight of the order",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the available services",
            "schema": {
              "$ref": "#/definitions/PodPricing.DispEst.DispatchEstimate"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "404": {
            "description": "Title not found"
          }
        }
      },
      "post": {
        "tags": [
          "Dispatch"
        ],
        "summary": "Loads services",
        "description": "Loads all the available dispatch services based on the supplied data to give you the current prices",
        "operationId": "Dispatch_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Params",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.DispEstimate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the available services",
            "schema": {
              "$ref": "#/definitions/PodPricing.DispEst.DispatchEstimate"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "404": {
            "description": "Title not found"
          }
        }
      }
    },
    "/Ecologi": {
      "get": {
        "tags": [
          "Enviromental"
        ],
        "summary": "Load Ecologi Statistics",
        "description": "Loads the current ecologi statistics",
        "operationId": "Ecologi_get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns the current ecologi statistics",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Ecologi"
            }
          }
        }
      }
    },
    "/File": {
      "get": {
        "tags": [
          "File"
        ],
        "operationId": "File_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "isbn",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "download",
            "in": "query",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookVAULT.ProductFiles.ProductFile"
            }
          }
        }
      }
    },
    "/FileDrop": {
      "get": {
        "tags": [
          "File Drop"
        ],
        "summary": "Load a File",
        "description": "Retreive a File Drop using giving a file drop ID",
        "operationId": "FileDrop_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "DropID",
            "in": "query",
            "description": "The ID assigned by BookVAULT to the file drop",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "File Drop Returned",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Files.FileDrop"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "404": {
            "description": "File Drop Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "File Drop"
        ],
        "summary": "Upload a file",
        "description": "Upload a new file and create a new File Drop",
        "operationId": "FileDrop_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "upload",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Files.Upload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File Drop Returned",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Files.FileDrop"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "tags": [
          "File Drop"
        ],
        "summary": "Delete a file",
        "description": "Deletes the supplied PodRef, this can only be done if the order is currently in the status Created or Acknowledged",
        "operationId": "FileDrop_Delete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "DropID",
            "in": "query",
            "description": "The ID assigned by BookVAULT to the file drop",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Drop Deleted"
          },
          "401": {
            "description": "Invalid Token"
          },
          "404": {
            "description": "File Drop Not Found"
          }
        }
      }
    },
    "/FileDropRequest": {
      "get": {
        "tags": [
          "File Drop"
        ],
        "summary": "Get An UploadURL",
        "description": "Get a URL to upload a file using POD's Upload Tool",
        "operationId": "FileDropRequest_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "DropType",
            "in": "query",
            "description": "The type of drop you wish to make",
            "required": true,
            "type": "string",
            "enum": [
              "CoverFile",
              "TextFile",
              "JacketFile",
              "DispatchDocument",
              "FoilBlockingFile",
              "CoverImage",
              "CoverFoil",
              "JacketFoil",
              "EndPapers",
              "BoxSet",
              "SprayedEdge"
            ]
          },
          {
            "name": "ISBN",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "File Drop Returned",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "404": {
            "description": "File Drop Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/FileDrops": {
      "get": {
        "tags": [
          "File Drop"
        ],
        "summary": "Load Files",
        "description": "Retreive files based on the supplied parameters in a pagenated format",
        "operationId": "FileDrops_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "description": "The number of items you wish to return (Optional Default 10 Max 250)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Page",
            "in": "query",
            "description": "The page you wish to view based on the limit of items per call (Optional)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Files with the current supplied statuses, seperated by commas ['FilesSupplied', 'Processing', 'Accepted', 'Failed'] (Optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "SearchString",
            "in": "query",
            "description": "Search based off File Name",
            "required": false,
            "type": "string"
          },
          {
            "name": "DropTypes",
            "in": "query",
            "description": "Filesof the supplied types, seperated by commas ['CoverFile', 'TextFile', 'JacketFile', 'DispatchDocument', 'FoilBlockingFile'] (Optional)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Files Returned",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Files.FileList"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/GenerateBarcode": {
      "get": {
        "tags": [
          "TGBBS"
        ],
        "summary": "Generate a BookVAULT barcode",
        "description": "Returns a BookVAULT branded barcode",
        "operationId": "GenerateBarcode_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ISBN",
            "in": "query",
            "description": "The ISBN of the product you wish to generate the barcode code for",
            "required": true,
            "type": "string"
          },
          {
            "name": "GBP",
            "in": "query",
            "description": "The GBP RRP of the product",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "EUR",
            "in": "query",
            "description": "The EUR RRP of the product",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "USD",
            "in": "query",
            "description": "The USD RRP of the product",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested barcode as an image",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/GenerateTGBBSQR": {
      "get": {
        "tags": [
          "TGBBS"
        ],
        "summary": "Generate QR Code",
        "description": "Returns a TGBBS braded QR code imgage to the desired URL",
        "operationId": "GenerateTGBBSQR_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ISBN",
            "in": "query",
            "description": "The ISBN of the product you wish to generate the QR code for",
            "required": true,
            "type": "string"
          },
          {
            "name": "Type",
            "in": "query",
            "description": "The type of URL you want the qr code to direct to",
            "required": true,
            "type": "string",
            "enum": [
              "BuyNow",
              "Listing"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested QR code as an image",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/GlobalAv": {
      "post": {
        "tags": [
          "Titles"
        ],
        "summary": "List Available Partners",
        "description": "Supply details of the title. Only supplied information will be referenced.",
        "operationId": "GlobalAv_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Library.Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available partners",
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Imprint": {
      "get": {
        "tags": [
          "Titles"
        ],
        "summary": "Get imprints",
        "description": "Gets all imprints from your account",
        "operationId": "Imprint_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of imprints",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookGLOBAL.CodeList"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "Titles"
        ],
        "summary": "Add an imprint",
        "description": "Adds a new imprint to your account",
        "operationId": "Imprint_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Imprint",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Imprint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of imprints",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookGLOBAL.CodeList"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/IOSS": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Load IOSS",
        "description": "Returns a list of IOSS codes",
        "operationId": "IOSS_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns the rewuested IOSS codes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.IOSS"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Add IOSS code",
        "description": "Adds a new IOSS code to your account",
        "operationId": "IOSS_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ioss",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.IOSS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the available IOSS codes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.IOSS"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/IOSS/{id}": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update an existing IOSS code",
        "description": "Updates an IOSS code by ID",
        "operationId": "IOSS_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ioss",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.IOSS"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated IOSS list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.IOSS"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete an IOSS code",
        "description": "Deletes an existing IOSS code from your account",
        "operationId": "IOSS_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The IOSS ID to delete",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns updated list after deletion",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.IOSS"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/ISBN": {
      "get": {
        "tags": [
          "Titles"
        ],
        "summary": "Generate ISBN",
        "description": "Generates a 'fake' ISBN for your title. A title need to be saved with the generated ISBN for a new one to be made available. This is not a legal ISBN but enables non published books to be added to BookVAULT.",
        "operationId": "ISBN_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns the fake ISBN",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "post": {
        "tags": [
          "Titles"
        ],
        "summary": "Generate ISBN",
        "description": "Generates 'fake' ISBNs for your titles. Titles need to be saved with the generated ISBNs for new ones to be made available. These are not legal ISBNs but enable non-published books to be added to BookVAULT.",
        "operationId": "ISBN_Post",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "numberToGenerate",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the array of fake ISBNs",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Ledger": {
      "get": {
        "tags": [
          "Ledger"
        ],
        "operationId": "Ledger_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Log": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Load Logs",
        "description": "Loads a requested log",
        "operationId": "Log_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "The type of logs you wish to return",
            "required": true,
            "type": "string",
            "enum": [
              "ContactLists"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of logs you wish to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of logs you wish to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested logs",
            "schema": {
              "$ref": "#/definitions/BookVAULT.ApiFunctionalities.Logging"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/News": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Generate QR Code",
        "description": "Returns a TGBBS braded QR code imgage to the desired URL",
        "operationId": "News_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns the requested QR code as an image",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PodService.Connections.RSS.Post"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/Order": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Load An Order",
        "description": "Load an order using a supplied docref or podref. This endopoint will only accept either a DocRef or PodRef, supplying both will result in a 400 error",
        "operationId": "Order_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "PodRef",
            "in": "query",
            "description": "The Reference supplied by us when placing the order",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "DocRef",
            "in": "query",
            "description": "The reference you supplied when placing the order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested order",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Order"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Order not found"
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Update An Order",
        "description": "Updates a part of an order, specified using the 'UpdateType'.",
        "operationId": "Order_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Order"
            }
          },
          {
            "name": "UpdateType",
            "in": "query",
            "description": "The type of update you wish to perform",
            "required": true,
            "type": "string",
            "enum": [
              "OrderLines",
              "Address",
              "Full",
              "ReleaseOrder"
            ]
          },
          {
            "name": "PodRef",
            "in": "query",
            "description": "The PodRef of the order you wish to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Order Updated",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Order"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Order not found"
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Add An Order",
        "description": "Create a new order for your BookVAULT account",
        "operationId": "Order_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Order"
            }
          },
          {
            "name": "payMethod",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Credit",
              "Upfront",
              "Draft",
              "Saved"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Order Deleted",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Order"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Order cannot be deleted"
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel an order",
        "description": "Deletes the supplied PodRef, this can only be done if the order is currently in the status Created or Acknowledged",
        "operationId": "Order_Delete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "PodRef",
            "in": "query",
            "description": "Pod Ref of the order",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Order Deleted"
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Order cannot be deleted"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/Orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Load Orders",
        "description": "Lists all the BookVAULT orders with desired parameters",
        "operationId": "Orders_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "SpecifiedIDs",
            "in": "query",
            "description": "PodRef's you wish to retrieve, separated by commas (Optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "The number of items you wish to return  (Optional Default 10 Max 250)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Page",
            "in": "query",
            "description": "The page you wish to view based on the limit of items per call (Optional)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "SinceID",
            "in": "query",
            "description": "All orders after a specified PodRef (Optional)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Orders with the current supplied statuses, separated by commas ['Created', 'Acknowledged', 'SentToPrint', 'Batched', 'Printed', 'Dispatched', 'Invoiced'] (Optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "SearchString",
            "in": "query",
            "description": "A search string, compared to addressee, postcode, docref and podref",
            "required": false,
            "type": "string"
          },
          {
            "name": "PlacedAfter",
            "in": "query",
            "description": "The date to show orders from",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "PlacedBefore",
            "in": "query",
            "description": "The date to show orders to",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ImportID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "OrderStatuses",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "GroupBulk",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested orders",
            "schema": {
              "$ref": "#/definitions/BookVAULT.OrderList"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/ProductionLimits": {
      "get": {
        "tags": [
          "Titles"
        ],
        "summary": "Load Limitations",
        "description": "Load the limitations of a product given a dessired binding and (optional) text stock",
        "operationId": "ProductionLimits_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "BindID",
            "in": "query",
            "description": "The binding of the product",
            "required": true,
            "type": "string",
            "enum": [
              "PerfectBound",
              "CasePPC",
              "CaseCloth",
              "WireBound",
              "SaddleStitch",
              "SpiralBound",
              "None",
              "Certificate",
              "CalendarHung",
              "Giftbox",
              "PresentationBox",
              "Sublimation",
              "Poster",
              "Photograph",
              "Gifts",
              "CalendarFlip",
              "Sewn",
              "AudioBook",
              "eBook",
              "Bundle",
              "HardbackWire",
              "BoxSet"
            ]
          },
          {
            "name": "TextStock",
            "in": "query",
            "description": "The text stock of the product",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the calculated title",
            "schema": {
              "$ref": "#/definitions/BookVAULT.ProductLimits"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/ProductPromo": {
      "post": {
        "tags": [
          "TGBBS"
        ],
        "summary": "Create a product promo code",
        "description": "Creates a new Promo Code for The Great British Bookshop, specifying the products which fall into the promotion",
        "operationId": "ProductPromo_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "promoRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Feeds.Shopify.Promotions.ProductPromo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A promotional code",
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Feeds.Shopify.Promotions.PromoCode"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Promo": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "",
        "description": "Supply details to calculate a titles specifications, including weight, price and spine width.",
        "operationId": "Promo_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PodPricing.Payments.Discount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a caclulated structure",
            "schema": {
              "$ref": "#/definitions/PodPricing.Payments.Discount"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Promos": {
      "get": {
        "tags": [
          "TGBBS"
        ],
        "summary": "Load Promo Codes",
        "description": "Load a list of promotional codes",
        "operationId": "Promos_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "List of promo codes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookGLOBAL.Feeds.Shopify.Promotions.PromoCode"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Proof": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Add An Order",
        "description": "Create a new order for your BookVAULT account",
        "operationId": "Proof_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Order"
            }
          },
          {
            "name": "payMethod",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Credit",
              "Upfront",
              "Draft",
              "Saved"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Order Deleted",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Order"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Order cannot be deleted"
          }
        }
      }
    },
    "/Publisher": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "Publisher_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookGLOBAL.Product.ProductPublication.ProductPublisher"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "operationId": "Publisher_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "publisher",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Product.ProductPublication.ProductPublisher"
            }
          },
          {
            "name": "PublisherID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Product.ProductPublication.ProductPublisher"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "Publisher_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "publisher",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Product.ProductPublication.ProductPublisher"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookGLOBAL.Product.ProductPublication.ProductPublisher"
            }
          }
        }
      }
    },
    "/Publishing": {
      "put": {
        "tags": [
          "Titles"
        ],
        "summary": "Update a product",
        "description": "Updates an existing title on your BooKVAULT account",
        "operationId": "Publishing_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Publishing",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Library.ProductPublishing"
            }
          },
          {
            "name": "ProjectID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated title returned",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Library.ProductPublishing"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/Refrence": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Generate Refrence",
        "description": "Generates a unique refrence for your order in incremental steps",
        "operationId": "Refrence_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns the refrence",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Reporting": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Load Report",
        "description": "Load an existing report given the report ID",
        "operationId": "Reporting_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ReportID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the report",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Reporting.QueryResult"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "put": {
        "tags": [
          "Reporting"
        ],
        "summary": "Update A Report",
        "description": "Update a report",
        "operationId": "Reporting_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Reporting.Query"
            }
          },
          {
            "name": "ReportID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available fields",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Reporting.QueryResult"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "post": {
        "tags": [
          "Reporting"
        ],
        "summary": "Create Report",
        "description": "Create a new report",
        "operationId": "Reporting_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Reporting.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available fields",
            "schema": {
              "$ref": "#/definitions/BookVAULT.Reporting.QueryResult"
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/ReportingExport": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Downloload a report",
        "description": "Download a given report as either a CSV or Excel File",
        "operationId": "ReportingExport_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Type",
            "in": "query",
            "description": "The file type you wish the report to be in",
            "required": true,
            "type": "string",
            "enum": [
              "Excel",
              "CSV"
            ]
          },
          {
            "name": "ReportID",
            "in": "query",
            "description": "The ID assigned to the report by BookVAULT",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested file",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/ReportingFields": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Load Fields",
        "description": "Loads all fields available for the sepcified Report Type",
        "operationId": "ReportingFields_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Type",
            "in": "query",
            "description": "The type of report you wish to return fields for",
            "required": true,
            "type": "string",
            "enum": [
              "Orders",
              "Wholesale",
              "NonCustom"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available fields",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.Reporting.Field"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/ReportingLibrary": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Load Saved Reports",
        "description": "loads all saved report from your report libary",
        "operationId": "ReportingLibrary_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ReturnNotCustom",
            "in": "query",
            "description": "Whether to return pre-made reports by BookVAULT",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "A saved report",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.Reporting.Report"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "post": {
        "tags": [
          "Reporting"
        ],
        "summary": "Save a report",
        "description": "Saves a report to your report libary",
        "operationId": "ReportingLibrary_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Report",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookVAULT.Reporting.Report"
            }
          },
          {
            "name": "ReturnNotCustom",
            "in": "query",
            "description": "Whether to return pre-made reports by BookVAULT",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "A saved report",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.Reporting.Report"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "delete": {
        "tags": [
          "Reporting"
        ],
        "operationId": "ReportingLibrary_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ReportID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ReturnNotCustom",
            "in": "query",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.Reporting.Report"
              }
            }
          }
        }
      }
    },
    "/ReportingTypes": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Load ReportTypes",
        "description": "Loads all the available report types",
        "operationId": "ReportingTypes_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available report types",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookVAULT.Reporting.ReportType"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      }
    },
    "/Resources": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get Resource",
        "description": "Returns a TGBBS braded QR code imgage to the desired URL",
        "operationId": "Resources_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Type",
            "in": "query",
            "description": "The type of URL you want the qr code to direct to",
            "required": true,
            "type": "string",
            "enum": [
              "ShopifyGuide",
              "WooCommerceGuide",
              "WixGuide",
              "PayhipGuide",
              "Api"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested QR code as an image",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/Retailers": {
      "get": {
        "tags": [
          "Wholesale"
        ],
        "summary": "Load Retailers",
        "description": "Returns all available retailers",
        "operationId": "Retailers_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns the retailers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookGLOBAL.Retailer"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/Roles": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Load Roles",
        "description": "Load the roles active on your BookVAULT Account",
        "operationId": "Roles_get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of roles active on your account",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PodCore.Entity.Contact.AccountRole"
              }
            }
          },
          "401": {
            "description": "Invalid Token"
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update a Role",
        "description": "Add a new role",
        "operationId": "Roles_put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newRole",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PodCore.Entity.Contact.NewRole"
            }
          },
          {
            "name": "RoleID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated role",
            "schema": {
              "$ref": "#/definitions/PodCore.Entity.Contact.AccountRole"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Add a Role",
        "description": "Add a new role",
        "operationId": "Roles_post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newRole",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PodCore.Entity.Contact.NewRole"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the new role",
            "schema": {
              "$ref": "#/definitions/PodCore.Entity.Contact.AccountRole"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/Search": {
      "get": {
        "tags": [
          "Orders",
          "Titles",
          "File Drop",
          "TGBBS"
        ],
        "summary": "Load Search",
        "description": "Returns a list of search results based on a given string and limit. Results will only be returned if the search string is a resonable length to narrow down the results",
        "operationId": "Search_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "SearchType",
            "in": "query",
            "description": "The type of search string requested",
            "required": true,
            "type": "string",
            "enum": [
              "Titles",
              "Orders",
              "File",
              "TGBBSProducts",
              "LiveTitles"
            ]
          },
          {
            "name": "SearchString",
            "in": "query",
            "description": "The string to search by",
            "required": true,
            "type": "string"
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "The number of results to rerturn",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "SearchID",
            "in": "query",
            "description": "An ID returned so you know the refd",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested search string",
            "schema": {
              "$ref": "#/definitions/BookVAULT.ApiFunctionalities.Search"
            }
          },
          "401": {
            "description": "Invalid Token"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/SearchString": {
      "get": {
        "tags": [
          "Orders",
          "Titles",
          "File Drop",
          "TGBBS"
        ],
        "summary": "Load Search",
        "description": "Allows a list of 'leight weight' search terms to be retreived whith the relating ID",
        "operationId": "SearchString_Get",
        "consumes": [],
        "produces": [
[...]
